body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	background-color: black;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

#terminal {
	user-select: none;
	--font-size: 0px;
	overflow: hidden;
	display: flex;
	align-items: start;
	justify-content: start;
	width: 80%;
	height: 80%;
	color: green;
	font: var(--font-size) Inconsolata, monospace;
	text-shadow: 0 0 10px green;
}

.letter {
	width: calc(var(--font-size) / 2);
	height: var(--font-size);
	font-size: var(--font-size);
	text-align: center;
}
